DB__HOSTNAME=
DB__USER=
DB__PASSWORD=
DB__DB=
# DB__PORT=5432

# FASTAPI__HOSTNAME=backend
# FASTAPI__IP_ADDRESS=0.0.0.0
# FASTAPI__DOMAIN=localhost
# FASTAPI__PORT=8000
# FASTAPI__PROD=false
# FASTAPI__HTTPS=false
# FASTAPI__WORKERS=1